*{
    padding: 0;
}
html {
    font-size: 16px;
    /* padding: 0; */
}


body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin: 0;
}

header {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.8rem 0;
}

.informacion {
    margin: 5rem auto;
    padding: 1rem;
    background-color: #BFBFBF;
    width: 80%;
}

/* .imagenes {
    width: 80%;
    margin: 0 auto;
} */

.row {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

/* .img {
    height: 250px;
    width: 200px;
    margin: 0;
    padding: 1rem;
    object-fit: cover;
} */


/* navi */

nav {
    width: 100%;
    height: auto;
    background-color: #2261c8;
    color: white;
    font-weight: 900;
}

.cont {
    text-align: center;
}

.cont ul {
    padding: 0.5rem 0;
}

.cont li {
    border-right: 1px solid lightgray;
    display: inline-block;
    list-style: none;
    padding: 0.3rem;
}

.cont li:last-of-type {
    border-right: none;
}

a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: #88B7B5;
    transition: 0.5s;
}

/* main */



/* formulario contacto */
.container {
    width: 50%;
    margin: 2rem auto;
    background-color: white;
    /* background-color: #7ca8e0; */
    padding: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 2rem;
    background-color: #7ca8e0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button button {
    width: 40%;
     background-color: #7ca8e0; 
    height: 3rem; 
    color: white; 
    font-weight: bolder; 
    font-size: 1.5rem; 
 } 

/* .button{
	display: inline-block;
	padding: 10px 20px;
	background-color: #0561EE;
	color: #fff;
	border: none;
	border-radius: 4px;
	outline: 2px solid #0561EE;
	cursor: pointer;
	transition: outline-offset .25s;
}
.button:hover,
.button:focus{
	outline-offset: 3px;
}
.button:is(:hover, :focus){
	outline-offset: 3px;
} */


/* Para teléfonos móviles: */

/* @media screen and (max-width: 414px) {
    html {
        font-size: 14px;
    }

    .cont li {
        display: block;
        text-align: center;
        border-bottom: 2px solid #668cc480;
        padding: 1rem 0;
        font-size: 1.3rem;
    }

    .cont li:last-child {
        border-bottom: none;
    }

    .cont ul{
        padding: 0;
    }

    .informacion{
        margin-top: 2rem;
    }
    .informacion p{
        font-size: 1.3rem;
    }
    .row{
        display: block;
        width: 100%;
    }
    .col{
        width: 100%;
    } */

    /* FORMULARIO CONTACTO */
    /* .container{
        width: 90%;
        padding: 1rem 0;
        box-sizing: content-box;
    }
    form{
        width: 100%;
    }
    .form-group{
        width: auto;
        background-color: #7ca8e0;
        display: flex;
        flex-direction: column;
    }
    .form-button button {
        width: 95%;
        
    }



} */



/* Para ipad */
@media screen and (max-width: 812px) {}