@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
}

html {
    font-size: 16px;
    /* padding: 0; */
}


body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(64, 9, 121, 1) 19%, rgba(36, 17, 173, 0.5816701680672269) 50%, rgba(114, 7, 164, 1) 76%, rgba(3, 40, 47, 1) 100%);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin: 0;
}

header {
    text-align: center;
}


footer {
    background: rgba(15, 3, 38, 0.637);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* background-color: black; */
    color: white;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.8rem 0;
}

h1 {
    margin-top: 5rem !important;
    font-family: raleway, sans-serif;
}

h1.display-1 {
    font-size: 5rem;
    font-weight: 700;
    color: rgb(217, 234, 248);
    text-shadow: 10 12 20px rgba(0, 0, 0, 0.5);
}



.informacion {
    background: rgba(15, 3, 38, 0.74);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    margin: 5rem auto;
    padding: 1rem;
    /* background-color: #BFBFBF; */
    width: 80%;
    color: rgba(252, 242, 228, 0.856);
}

/* .imagenes {
    width: 80%;
    margin: 0 auto;
} */

.row {
    /* background: rgba(15, 3, 38, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

/* .img {
    height: 250px;
    width: 200px;
    margin: 0;
    padding: 1rem;
    object-fit: cover;
} */


/* navi */

nav {
    width: 100%;
    height: auto;
    /* background-color: #0f0326; */
    background: rgba(15, 3, 38, 0.74);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    /* background-color: #2261c8; */
    color: white;
    font-weight: 900;
}

.cont {
    text-align: center;
}

.cont ul {
    padding: 0.5rem 0;
}

.cont li {
    border-right: 1px solid lightgray;
    display: inline-block;
    list-style: none;
    padding: 0.3rem;
}

.cont li:last-of-type {
    border-right: none;
}

a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: #88B7B5;
    transition: 0.5s;
}

/* main */



/* formulario contacto */
.container {

    width: 50%;
    margin: 2rem auto;
    background-color: white;
    background: rgba(15, 3, 38, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* background-color: #7ca8e0; */
    padding: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.container h2 {
    color: aliceblue !important;
    padding-left: 1rem;
}

.tabla {
    color: aliceblue;
}

label {
    color: aliceblue;
}

.dataTables_info {
    color: aliceblue !important;
}

.dataTables_paginate {
    color: aliceblue !important;
}

.dataTables_length,
.dataTables_length select {
    color: aliceblue !important;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
    color: aliceblue !important;
}

.dataTable thead th {
    border-bottom: 1px solid aliceblue !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid aliceblue !important;
}

.formulario {
    background: rgba(15, 3, 38, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.form-group {
    background: rgba(15, 3, 38, 0.4) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    margin-bottom: 2rem;
    background-color: #7ca8e0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button button {
    width: 40%;
    /* background-color: #7ca8e0; */
    height: 3rem;
    /* color: white; */
    font-weight: bolder;
    font-size: 1.5rem;
}

.form-button button {
    background: rgba(15, 3, 38, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg:rgba(15, 3, 38, 0.4) !important;
    --bs-btn-border-color:rgba(15, 3, 38, 0.4) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: rgb(15, 3, 38) !important;
    --bs-btn-hover-border-color: rgba(15, 3, 38, 0.4) !important;
    --bs-btn-focus-shadow-rgb: 49,132,253 !important;
    --bs-btn-active-color: rgb(15, 3, 38) !important;
    --bs-btn-active-bg: rgba(15, 3, 38, 0.4) !important;
    --bs-btn-active-border-color: rgba(15, 3, 38, 0.4) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg:rgba(15, 3, 38, 0.4) !important;
    --bs-btn-disabled-border-color:rgba(15, 3, 38, 0.4) !important;
}


/* Para teléfonos móviles: */

/* @media screen and (max-width: 414px) {
    html {
        font-size: 14px;
    }

    .cont li {
        display: block;
        text-align: center;
        border-bottom: 2px solid #668cc480;
        padding: 1rem 0;
        font-size: 1.3rem;
    }

    .cont li:last-child {
        border-bottom: none;
    }

    .cont ul{
        padding: 0;
    }

    .informacion{
        margin-top: 2rem;
    }
    .informacion p{
        font-size: 1.3rem;
    }
    .row{
        display: block;
        width: 100%;
    }
    .col{
        width: 100%;
    } */

/* FORMULARIO CONTACTO */
/* .container{
        width: 90%;
        padding: 1rem 0;
        box-sizing: content-box;
    }
    form{
        width: 100%;
    }
    .form-group{
        width: auto;
        background-color: #7ca8e0;
        display: flex;
        flex-direction: column;
    }
    .form-button button {
        width: 95%;
        
    }



} */



/* Para ipad */
@media screen and (max-width: 812px) {}